/* remove defaults */
*,
::after,
::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* set variables */
:root {
  --primary-gold: #F4CE14;
  --primary-darkGreen: #495E57;
  --secondary-gray: #E4E4E4;
  --secondary-black: #1E1E1E;
}

/* global */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.sectionCenter {
  max-width: 900px;
  margin: 0 auto;
}

/* header */
.header {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  column-gap: 2rem;
  align-items: center;
}

.navLinks {
  display: grid;
  grid-template-columns: repeat(6, auto);
  column-gap: 1rem;
}

.navLinks a {
  font-family: Markazi Text;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--secondary-black);
}